
<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Polymer Starter Kit" />
    <title>Polymer Starter Kit</title>
    <!-- Place favicon.ico in the `app/` directory -->

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#303F9F">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Tile color for Win8 -->
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PSK">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild-->

    <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <!-- endbuild -->

    <!-- will be replaced with elements/elements.vulcanized.html -->
    <link rel="import" href="elements/elements.html">

    <!-- endreplace-->
</head>

<body unresolved class="fullbleed layout vertical">
    <span id="browser-sync-binding"></span>
    <template is="dom-bind" id="app">

        <paper-drawer-panel id="paperDrawerPanel" responsive-Width="960px" >
            <paper-header-panel drawer mode="seam" responsiveWidth="960px">

                <!-- Drawer Toolbar -->
                <paper-toolbar id="drawerToolbar">
                    <span class="paper-font-title">Menu</span>
                </paper-toolbar>

                <!-- Drawer Content -->
                <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}" on-iron-select="onMenuSelect" >
                    <a data-route="home" href="/bulletinpolymer/">
                        <iron-icon icon="home"></iron-icon>
                        <span>Home</span>
                    </a>
                    <a data-route="setting" href="setting">
                        <iron-icon icon="info"></iron-icon>
                        <span>Setting</span>
                    </a>             
                </paper-menu>
            </paper-header-panel>
            <paper-header-panel main mode="waterfall-tall">

                <!-- Main Toolbar -->
                <paper-toolbar id="mainToolbar" attr-for-selected="data-route" selected="{{route}}" on-iron-select="onMenuSelect">
                    <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
                    <span class="flex"></span>
                    <!-- Toolbar icons -->
                    <paper-icon-button icon="refresh" ></paper-icon-button>

                     <a data-route="search" href="search">
                        <paper-icon-button icon="search"  style="color: white;"></paper-icon-button>
                    </a>                    

                    <!-- Application name -->
                    <div class="middle paper-font-display2 app-name">MMU Bulletin</div>
                    <!-- Application sub title -->
                    <div class="bottom title"></div>

                </paper-toolbar>

                <!-- Main Content -->
                <div class="content">
                    <iron-pages attr-for-selected="data-route" selected="{{route}}">
                        <section data-route="home">
                            <div id="collapse"></div>
                        </section>
                        <section data-route="setting">
                            <paper-material elevation="1">
                                <h2 class="paper-font-display2">Settingssss</h2>
                                <p>This is the users section</p>
                            </paper-material>
                        </section>
                        <section data-route="search">
                            
                                <my-greeting></my-greeting>
                        </section>    
                        <section data-route="filter">
                            <h1>should show something here</h1>
                            <div id="collapses"></div>
                            
                        </section>                                              
                    </iron-pages>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>

        <!-- Uncomment next block to enable Service Worker support (1/2) -->

        <paper-toast id="caching-complete" duration="6000" text="Caching complete! This app will work offline.">
        </paper-toast>

        <platinum-sw-register auto-register clients-claim skip-waiting on-service-worker-installed="displayInstalledToast">
            <platinum-sw-cache default-cache-strategy="networkFirst" precache-file="precache.json">
            </platinum-sw-cache>
        </platinum-sw-register>


    </template>

    <!-- build:js scripts/app.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="scripts/app.js"></script>
    <script>
        function parsejson() {
            var i = 0
            while (i < Object.keys(datas).length) {
                //
                var button = document.createElement("button");
                var content = document.createElement("p");
                var collapsecontent = document.createElement("div");
                var ironcollapse = document.createElement("iron-collapse");
                var attachment = document.createElement("p");
                var paperbutton = document.createElement("paper-button");
                var title = document.createTextNode(datas[i].title.toUpperCase() + " - " + datas[i].posted_date);

                var contents = document.createTextNode(datas[i].content);
                var s = datas[i].images;
                s = s.replace("bulletinfile", "https://online.mmu.edu.my/bulletinfile");
                content.innerHTML = s;
                button.appendChild(title);
                content.appendChild(contents);

                collapsecontent.appendChild(content);
                ironcollapse.appendChild(collapsecontent);
                button.setAttribute("class", "heading");
                content.setAttribute("id", "content");
                postid = "post" + (datas[i].posted_ID);
                button.setAttribute("onclick", "document.querySelector('#" + postid + "').toggle();");

                ironcollapse.setAttribute("id", postid);

                document.getElementById("collapse").appendChild(button);
                document.getElementById("collapse").appendChild(ironcollapse);

                p = document.getElementById(postid).children[0].children[0];
                p.innerHTML = p.innerHTML.replace(/\n\n/g, "<br>");
                i++;

            }


        }

        function markActiveLink(el) {   
    var filterid = $(el).attr("id");
    var haha = filterid;
    $('#collapses').empty();
    var i = 0
while (i < Object.keys(datas).length) {
    if (datas[i].dept === haha){
                //Object.keys(datas).length
                var button = document.createElement("button");
                var content = document.createElement("p");
                var collapsecontent = document.createElement("div");
                var ironcollapse = document.createElement("iron-collapse");
                var attachment = document.createElement("p");
                var paperbutton = document.createElement("paper-button");
                var title = document.createTextNode(datas[i].title.toUpperCase() + " - " + datas[i].posted_date);

                var contents = document.createTextNode(datas[i].content);
                var s = datas[i].images;
                s = s.replace("bulletinfile", "https://online.mmu.edu.my/bulletinfile");
                content.innerHTML = s;
                button.appendChild(title);
                content.appendChild(contents);

                collapsecontent.appendChild(content);
                ironcollapse.appendChild(collapsecontent);
                button.setAttribute("class", "heading");
                content.setAttribute("id", "content");
                postid = "post" + (datas[i].posted_ID) + "s";
                button.setAttribute("onclick", "document.querySelector('#" + postid + "').toggle();");

                ironcollapse.setAttribute("id", postid);

                document.getElementById("collapses").appendChild(button);
                document.getElementById("collapses").appendChild(ironcollapse);

                p = document.getElementById(postid).children[0].children[0];
                p.innerHTML = p.innerHTML.replace(/\n\n/g, "<br>");
                i++;
}
else{
    i++;
}



}}

    </script>
    <!-- endbuild-->
</body>

</html>

<!--
<button class="heading" onclick="document.querySelector('').toggle();">title</button>
<iron-collapse id="aaa">
    <div class="collapse-content">
        <p>Ccoontent</p>
    </div>
</iron-collapse>

                if (datas[i].attachment !== "") {
                    var attachmenturl = datas[i].attachment.replace(/, <a/g, ).split("SPLIT"); 
                    var j = 0;
                    //while (j < attachmenturl.length){

                    while(j < attachmenturl.length){
                        console.log(j);
                        var s2 = j;
                        paperbutton.innerHTML = s2;
                        paperbutton.setAttribute("raised","");
                        content.appendChild(paperbutton);
                        collapsecontent.appendChild(content);
                        j++;
                    };

                    
                    //div.appendChild(icon);
                }
                else{

                }
-->