<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- Iron elements -->

<link rel="import" href="/bulletinpolymer/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bulletinpolymer/bower_components/iron-flex-layout/classes/iron-flex-layout.html">

<link rel="import" href="/bulletinpolymer/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bulletinpolymer/bower_components/iron-collapse/iron-collapse.html">
<!-- Paper elements -->
<link rel="import" href="/bulletinpolymer/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/bulletinpolymer/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bulletinpolymer/bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="/bulletinpolymer/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bulletinpolymer/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bulletinpolymer/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bulletinpolymer/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bulletinpolymer/bower_components/paper-styles/paper-styles-classes.html">

<link rel="import" href="/bulletinpolymer/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bulletinpolymer/bower_components/paper-toast/paper-toast.html">
<!-- dont need bah 
<link rel="import" href="/bulletinpolymer/bower_components/paper-item/paper-item.html">


<link rel="import" href="/bulletinpolymer/bower_components/iron-selector/iron-selector.html">
-->


<link rel="import" href="/bulletinpolymer/bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="/bulletinpolymer/bower_components/neon-animation/neon-animations.html">

<!-- Uncomment next block to enable Service Worker Support (2/2) -->

<link rel="import" href="/bulletinpolymer/bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="/bulletinpolymer/bower_components/platinum-sw/platinum-sw-register.html">


<!-- Configure your routes here -->
<link rel="import" href="routing.html">

<!-- Add your elements here -->
<link rel="import" href="/bulletinpolymer/styles/app-theme.html">
<link rel="import" href="my-greeting/my-greeting.html">

