<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="/bulletinpolymer/bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/
    page('/bulletinpolymer/', function () {
      app.route = 'home';
    });

    page('/bulletinpolymer/', function () {
      app.route = 'hue';
    });    

    page('/bulletinpolymer/setting', function () {
      app.route = 'setting';
    });

    page('/bulletinpolymer/users/:name', function (data) {
      app.route = 'user-info';
      app.params = data.params;
    });

    page('/bulletinpolymer/contact', function () {
      app.route = 'contact';
    });

    page('/bulletinpolymer/search', function () {
      app.route = 'search';
    });  

    page('/bulletinpolymer/filter', function () {
      app.route = 'filter';
    });    


    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>