<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<dom-module id="my-greeting">
    <style>
        :host {
            display: block;
        }
        
        @media (max-width: 600px) {
            h1.paper-font-display1 {
                font-size: 24px;
            }
        }
    </style>
    <template>

        <paper-material elevation="1" style="width: 100%;float:left;clear: both;background-color:white">

            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1" id="ADMIS" onclick="markActiveLink(this);">
                
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                ADMIS
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1" id="BURSARY" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                BURSARY
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1" id="CCU" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                CCU
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1" id="CDP" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                CDP
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="ERU" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                ERU
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1" id="FCI" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FCI
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>   
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="FCM" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FCM
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>             
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1" id="FET" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FET
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="FIN" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FIN
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="FIST" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FIST
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="FMD" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FMD
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="FOB" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FOB
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="FOE" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FOE
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div> 
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="FOL" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FOL
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>   
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="FOM" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                FOM
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="GSM" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                GSM
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="IO" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                IO
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="ITSD" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                ITSD
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="LIB" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                LIB
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="MPU" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                MPU
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>  
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="SECURITY" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                SECURITY
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>    
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="SSC" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                SSC
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>    
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="STAD" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                STAD
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>    
            <div class="section group">
                <a data-route="filter" href="/bulletinpolymer/filter"> <paper-material elevation="1" class="square bg img1"  id="YUM" onclick="markActiveLink(this);">
                    <div class="boxcontent">
                        <div class="boxtable">
                            <div class="box-table-cell">
                                YUM
                            </div>
                        </div>
                    </div>
                </paper-material></a>
            </div>                                                              
        </paper-material></a>
        <!-- Listens for "input" event and sets greeting to <input>.value -->
    </template>

    <script>
        (function() {
            Polymer({
                is: 'my-greeting',

                properties: {
                    greeting: {
                        type: String,
                        value: 'Welcome!',
                        notify: true
                    }
                }
            });
        })();

function colorfy_me() {
    var myColors = [
        '#E91E63', '#9C27B0', '#673AB7', '#3F51B5', '#2196F3', '#03A9F4', '#00BCD4', '#009688', '#4CAF50', '#8BC34A', '#CDDC39', '#FF9800', '#FF5722', '#795548', '#9E9E9E', '#607D8B'
    ];
    shuffleArray(myColors);
    var i = 1;
    $('.img1').each(function() {
        $(this).css('background-color', myColors[i]);
        i = (i + 1) % myColors.length;
    });
}    

function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
    }
    return array;
}     
window.onload = colorfy_me;


    </script>

</dom-module>