/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

body {
  background: #ECEFF1;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

section[data-route="contact"] {
  text-align: center;
}

  .collapse-content {
    padding: 15px;
    border: 1px solid #dedede;
  }


  .heading {padding: 1rem 1.4rem;
  background-color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  text-align: left;
border:0px;
font-family: Roboto;
font-weight: 300;
border-bottom: 1px solid #ddd;
}

#content{
    padding: 2rem;
    background-color: #FAFAFA;
    margin: 0;
}

#collapse{
webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}



button:focus {outline:0;}

iron-collapse{
  outline:0;
}

.square {
    float:left;
    position: relative;
    width: 23%;
    padding-bottom : 23%; 
    margin:1%;
    overflow:hidden;
}

.boxcontent {
    position:absolute;
    height:90%; 
    width:90%; 
    padding: 5%;
    
}
.boxtable{
    display:table;
    width:100%;
    height:100%;
}
.box-table-cell{
    display:table-cell;
    vertical-align:middle;
      font-size: 2rem;
  font-weight: 500;
  color: white;
    text-align: center;
}


.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.img1{
    background-color: #2196F3;
}

@media screen and (max-width: 800px) {
  .square{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
  }
.box-table-cell {
  font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .square{
    width:100%;
    margin:0;
  }
  .boxcontent{
    height: 70%;
  }
  .box-table-cell{
    font-size: 1.5rem;
  }


